body
{
background-color:#e0e0e0;
color:Black;
font-family: 'Lato', sans-serif;
font-size: 15px;
}

.container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#zegar:hover
{
	opacity: 70%;
}

.header
{
	font-size:30px;
	text-align:center;
	letter-spacing: 3px;
	color: #ffd700;
	background-color: #000000;
	padding: 30px 30px;
	width:95%;
	float:center;
	margin-left: auto;
	margin-right: auto;
}

.entrance
{
	margin: 40px 0px;
	height:auto;
	font-size:30px;
	text-align:center;
	letter-spacing: 2px;
	color: black;
	background-color: red;
	padding: 15px 15px;
	width:60%;
	float:center;
	margin-left: auto;
	margin-right: auto;
}

.content
{
	margin-left: auto;
	margin-right: auto;
}

.tile1
{
	margin: 40px 0px;
	height:auto;
	background-color: #d7d7d7;
	text-align: center;
	padding: 15px;
	width:60%;
	float:center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid red;
}

.tile1:hover
{
	background-color: #cfcfcf;
}

.footer
{
	text-align:center;
	background-color: #0099ff;
	margin:20px;
	padding: 10px;
}

a
{ 
color: red;
text-decoration: none;
 }
 
 h1
 {
	 font-size: 24px;
 }
 
 h4
 {
	 font-size: 19px;
 }
 
 img 
 {
    width: 100%;
   max-width:1000px;
   high:auto;
}

/*info */
